#cargando{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top:10ch
}

#cuadroImagen{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#root{
    background: url("cielo_estrellado.jpg") no-repeat fixed center;
      background-size: 100% 100%;
      height: 30cm;
}

#espacio{
    height: 4cm;
}

@media (min-width: 501px){
  body{
      background: url("cielo_estrellado.jpg") no-repeat fixed center;
      background-size: 100% 100%;
      color: white;
      margin-left: 40px;
      margin-right: 40px;
  }
  
  header{
    background: url("cielo_estrellado.jpg") no-repeat fixed center;
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid rgb(255, 255, 255);
      position: fixed;
      width: 95%;
  }
  nav{
      justify-content: center;
  }
  button{
      margin: 10px;
      margin-top: 30px;
      border-radius: 10px;
      background-color: white;
      color: black;
      width: 100px;
     
  }
  #columnasBusqueda{
      display: flex;
  }
  #fecha{
      display: flex;
  }
  input{
      margin: 2px;
  }
  
  #fondo{
      background: no-repeat fixed center;
      background-size: 100% 100%;
      padding-bottom: 400px;
      padding-right: 100px;
      display: flex;
      justify-content: space-between;
  }
  
  #datos{
      margin: 50px;
      color: brown;
  }
  }
  
  
  @media (max-width: 500px){
      *{
          justify-content: center;
          text-align: center;
      }
      body{
          background: url("cielo_estrellado.jpg") no-repeat fixed center;
          background-size: 100% 100%;
          color: white;
      }
      
      header{
          justify-content: center;
      }
      nav{
          justify-content: center;
      }
      button{
          margin: 10px;
          margin-top: 30px;
          border-radius: 10px;
          background-color: white;
          color: black;
          width: 100px;
         
      }
      #fecha{
          display: flex;
      }
      input{
          margin: 2px;
      }
      
      #fondo{
          background: fixed;
          padding-bottom: 400px;
          justify-content: center;
      }
      
      #datos{
          margin: 50px;
          color: brown;
      }
      }

      #cuadroLogin{
          background-color: rgb(57, 68, 63);
          flex-direction: column;
          padding: 5ch;
          padding-top: 2ch;
          border-radius: 1ch;
          
      }
      #contenedorCuadroLogin{
        display: flex;
        justify-content: center;
      }

      #botonesLogin{
          display: flex;
          flex-direction: row;
      }

      #botonRegistro{
          background-color: rgb(57, 68, 63);
      }

      #botonLogin{
          border-radius: 0ch;
      }

      #cuadroAsteroids{
        display: flex;
        justify-content: center;
      }

      #asteroids{
          display: flex;
          flex-direction: column;
          background-color: rgb(129, 60, 3);
          border-radius: 2ch;

      }

      #canvasGame{
        background-color: rgb(1, 37, 15);
        border-radius: 1ch;
      }
